<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tárhely</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post">
        Név:<br>
        <input type="text" name="nev"><br>
        Méret:<br>
        <input type="number" name="meret"><br>
        Ár: <br>
        <input type="number" name="ar"><br>
        <input type="submit" value="OK">
      </form>
</body>
</html>